<!DOCTYPE html>
{% extends 'restaurant/base.html'  %}
{% load static %}
{% block content %}
<!-- Why Us Section -->
<section id="why-us" class="why-us section" style="min-height: 100vh; padding: 20px 0; margin-top: 120px;">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>ПОЧЕМУ МЫ</h2>
        <p>Почему стоит выбрать наш ресторан</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div>
            <h3>Мы предоставляем:</h3>
            <ul class="list-checkmark">
                <li>Высокое качество и гарантированное время приготовления</li>
                <li>Отличные цены и удобные условия</li>
                <li>Простота и удобство заказа блюд</li>
                <li>Обширный меню и разнообразный выбор напитков</li>
            </ul>
        </div>

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="card-item">
                    <span>01</span>
                    <h4><a href="" class="stretched-link">Широкий выбор блюд на гриле</a></h4>
                    <p>От классических стейков до сочных бургеров и нежных рыбных деликатесов, приготовленных на
                        открытом огне.</p>
                </div>
            </div><!-- Card Item -->

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="card-item">
                    <span>02</span>
                    <h4><a href="" class="stretched-link">Свежайшие ингредиенты</a></h4>
                    <p>Мы тщательно отбираем продукты у проверенных поставщиков, чтобы каждое блюдо радовало вас своим
                        вкусом и качеством.</p>
                </div>
            </div><!-- Card Item -->

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card-item">
                    <span>03</span>
                    <h4><a href="" class="stretched-link">Уютная атмосфера</a></h4>
                    <p>Проведите приятный вечер в компании близких в нашем гостеприимном ресторане.</p>
                </div>
            </div><!-- Card Item -->

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card-item">
                    <span>04</span>
                    <h4><a href="" class="stretched-link">Профессиональные повара</a></h4>
                    <p>Команда с большим опытом и любовью к своему делу.</p>
                </div>
            </div><!-- Card Item -->

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card-item">
                    <span>05</span>
                    <h4><a href="" class="stretched-link">Удобная оплата</a></h4>
                    <p>Наличными или безналичным способом, выбор за вами.</p>
                </div>
            </div><!-- Card Item -->

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card-item">
                    <span>06</span>
                    <h4><a href="" class="stretched-link">Быстрая и удобная доставка</a></h4>
                    <p>Насладитесь любимыми блюдами, не выходя из дома, заказав доставку в любой район города.</p>
                </div>
            </div><!-- Card Item -->
        </div>

    </div>

</section><!-- /Why Us Section -->

{% endblock %}
