<!DOCTYPE html>
{% extends 'restaurant/base.html'  %}
{% load static %}
{% block content %}
<!-- Why Us Section -->
<section id="why-us" class="why-us section" style="min-height: 100vh; padding: 20px 0; margin-top: 120px;">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>ПОЧЕМУ МЫ</h2>
        <p>О ресторане</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div>
            <h3>ИСТОРИЯ:</h3>
            <div id="specials" class="p-5 my-5"
                 style="border-radius: 20px; width: 120vh; opacity: 0.7; background-color: #fac811; color: black">
                <p class="m-auto" style="font-size: 20px;"> Наш гриль-ресторан открыл свои двери в 2020 году, став
                    результатом страсти к вкусной еде и желанию создать особое место для встреч с родными и друзьями.
                    Все началось с идеи [команды основателей], которые хотели поделиться с городом своей любовью к
                    блюдам на открытом огне. С тех пор мы превратились в любимое место для тех, кто ценит качественную
                    еду и уютную атмосферу.
                </p>
            </div>
        </div>

        <div class="row gy-4">
            <h3>МИССИЯ И ЦЕННОСТИ:</h3>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="card-item">
                    <span>01</span>
                    <h4><span class="stretched-link">Традиции</span></h4>
                    <p style="font-size: 18px;">
                        Уважаем кулинарное наследие и придерживаемся классических методов приготовления на гриле.
                        От классических стейков до сочных бургеров и нежных рыбных деликатесов, приготовленных на
                        открытом огне.
                    </p>
                </div>
            </div><!-- Card Item -->

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="card-item">
                    <span>02</span>
                    <h4><span class="stretched-link">Качество</span></h4>
                    <p style="font-size: 18px;">
                        Мы тщательно отбираем продукты у проверенных поставщиков, чтобы каждое блюдо радовало вас своим
                        вкусом и качеством.
                    </p>
                </div>
            </div><!-- Card Item -->

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card-item">
                    <span>03</span>
                    <h4><span class="stretched-link">Уютная атмосфера</span></h4>
                    <p style="font-size: 18px;">
                        Создаем теплую и дружелюбную атмосферу для каждого гостя.
                    </p>
                </div>
            </div><!-- Card Item -->

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card-item">
                    <span>04</span>
                    <h4><span class="stretched-link">Профессиональные повара</span></h4>
                    <p style="font-size: 18px;">
                        Команда с большим опытом и любовью к своему делу.
                        Не боимся экспериментировать и предлагаем современный взгляд на любимые блюда.</p>
                </div>
            </div><!-- Card Item -->

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card-item">
                    <span>05</span>
                    <h4><span class="stretched-link">Удобная оплата</span></h4>
                    <p style="font-size: 18px;">Наличными или безналичным способом, выбор за вами.</p>
                </div>
            </div><!-- Card Item -->

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card-item">
                    <span>06</span>
                    <h4><span class="stretched-link">Быстрая и удобная доставка</span></h4>
                    <p style="font-size: 18px;">Насладитесь любимыми блюдами, не выходя из дома, заказав доставку в
                        любой район города.</p>
                </div>
            </div><!-- Card Item -->
        </div>

        <div class="mt-5 mb-3">
            <h3>КОМАНДА:</h3>
            <div class="specials section">
                <!--Повара-->
                <div class="container" data-aos="fade-up" data-aos-delay="100">

                    <div class="row">
                        <h3>Наши команда поваров</h3>
                        <hr>
                        <div class="col-lg-3">
                            <ul class="nav nav-tabs flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-bs-toggle="tab" href="#specials-tab-1-1">Григорий
                                        Малькевич</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-2-1">Мариана Друзь</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-3-1">Иван Бодров</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-4-1">Джованни
                                        Марионеско</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-5-1">Густав
                                        Миркович</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-9 mt-4 mt-lg-0">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="specials-tab-1-1">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Шеф</h3>
                                            <p class="fst-italic">
                                                Наш успех — это результат работы сплоченной команды профессионалов.
                                            </p>
                                            <p>
                                                Шеф-повар Григорий Малькевич с командой талантливых кулинаров тщательно
                                                разрабатывает каждое блюдо, вкладывая в него опыт и душу. Наша
                                                обслуживающая команда всегда рада помочь вам с выбором и сделать ваше
                                                пребывание у нас максимально комфортным. Мы вместе стремимся превзойти
                                                ожидания гостей и сделать каждый визит особенным.
                                            </p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="{% static 'img/man1.jpg' %}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="specials-tab-2-1">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Et blanditiis nemo veritatis excepturi</h3>
                                            <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente
                                                dila parde
                                                sonata raqer a videna mareta paulona marka</p>
                                            <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et
                                                reiciendis
                                                sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit
                                                ipsa
                                                voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna
                                                desera vafle
                                                de nideran pal</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="{% static 'img/woman1.jpg' %}" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="specials-tab-3-1">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                                            <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem
                                                non enim
                                                fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat
                                                perferendis
                                                aut</p>
                                            <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis
                                                quisquam.
                                                Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae
                                                sed
                                                laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et
                                                harum
                                                voluptatem optio quae</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="{% static 'img/man2.jpg' %}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="specials-tab-4-1">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam
                                                dolore</h3>
                                            <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure
                                                voluptas iure
                                                porro quis delectus</p>
                                            <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum
                                                ipsam
                                                necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in
                                                consequatur
                                                corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a
                                                laborum
                                                inventore</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="{% static 'img/man4.jpg' %}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="specials-tab-5-1">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                            <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis
                                                porro quia.</p>
                                            <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis
                                                recusandae ut
                                                non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam
                                                amet. Occaecati
                                                sed est sint aut vitae molestiae voluptate vel</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="{% static 'img/man3.jpg' %}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section><!-- /Why Us Section -->

{% endblock %}
