<!DOCTYPE html>
{% extends 'restaurant/base.html'  %}
{% load static %}
{% block content %}
<!-- Specials Section -->
<section id="specials" class="specials section" style="min-height: 100vh; padding: 20px 0; margin-top: 120px;">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Иллюстрации</h2>
        <p>Информационная галерея</p>
    </div><!-- End Section Title -->
    <!--Блюда-->
    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
            <h3>Блюда</h3>
            <hr>
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#specials-tab-1">Стейк Рибай</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-2">Фермерский цыпленок Табака</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-3">Лосось на гриле</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-4">Морепродукты на гриле с топпингами</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-5">Скерт стейк на гриле в пивном маринаде</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="specials-tab-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Architecto ut aperiam autem id</h3>
                                <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde
                                    sonata raqer a videna mareta paulona marka</p>
                                <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos
                                    ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima
                                    eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique
                                    accusamus nostrum rem vero</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/gallery/food1.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="specials-tab-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Et blanditiis nemo veritatis excepturi</h3>
                                <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde
                                    sonata raqer a videna mareta paulona marka</p>
                                <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis
                                    sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa
                                    voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle
                                    de nideran pal</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/gallery/food2.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="specials-tab-3">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                                <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim
                                    fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis
                                    aut</p>
                                <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam.
                                    Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed
                                    laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum
                                    voluptatem optio quae</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/gallery/food3.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="specials-tab-4">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                                <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure
                                    porro quis delectus</p>
                                <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam
                                    necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur
                                    corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum
                                    inventore</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/gallery/food4.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="specials-tab-5">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut
                                    non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati
                                    sed est sint aut vitae molestiae voluptate vel</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/gallery/food5.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--Повара-->
    <div class="container mt-5" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
            <h3>Шеф-повары</h3>
            <hr>
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#specials-tab-1-1">Григорий Малькевич</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-2-1">Мариана Друзь</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-3-1">Иван Бодров</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-4-1">Джованни Марионеско</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-5-1">Густав Миркович</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="specials-tab-1-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Architecto ut aperiam autem id</h3>
                                <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde
                                    sonata raqer a videna mareta paulona marka</p>
                                <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos
                                    ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima
                                    eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique
                                    accusamus nostrum rem vero</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/man1.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="specials-tab-2-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Et blanditiis nemo veritatis excepturi</h3>
                                <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde
                                    sonata raqer a videna mareta paulona marka</p>
                                <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis
                                    sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa
                                    voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle
                                    de nideran pal</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/woman1.jpg' %}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="specials-tab-3-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                                <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim
                                    fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis
                                    aut</p>
                                <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam.
                                    Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed
                                    laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum
                                    voluptatem optio quae</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/man2.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="specials-tab-4-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                                <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure
                                    porro quis delectus</p>
                                <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam
                                    necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur
                                    corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum
                                    inventore</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/man4.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="specials-tab-5-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut
                                    non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati
                                    sed est sint aut vitae molestiae voluptate vel</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/man3.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--Ресторан-->
    <div class="container mt-4" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
            <h3>Ресторан</h3>
            <hr>
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#specials-tab-1-1-2">Гриль-зал</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-2-1-2">Зал "Большая кухня"</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-3-1-2">Зал "На чердаке"</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-4-1-2">Зал "Свидание"</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#specials-tab-5-1-2">Зал "Веранда"</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="specials-tab-1-1-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Architecto ut aperiam autem id</h3>
                                <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde
                                    sonata raqer a videna mareta paulona marka</p>
                                <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos
                                    ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima
                                    eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique
                                    accusamus nostrum rem vero</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/gallery/room1.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="specials-tab-2-1-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Et blanditiis nemo veritatis excepturi</h3>
                                <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde
                                    sonata raqer a videna mareta paulona marka</p>
                                <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis
                                    sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa
                                    voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle
                                    de nideran pal</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/gallery/room2.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="specials-tab-3-1-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                                <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim
                                    fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis
                                    aut</p>
                                <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam.
                                    Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed
                                    laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum
                                    voluptatem optio quae</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/gallery/room3.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="specials-tab-4-1-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                                <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure
                                    porro quis delectus</p>
                                <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam
                                    necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur
                                    corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum
                                    inventore</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/gallery/room4.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="specials-tab-5-1-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut
                                    non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati
                                    sed est sint aut vitae molestiae voluptate vel</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{% static 'img/gallery/room5.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- /Specials Section -->


{% endblock %}
