<!DOCTYPE html>
{% extends 'restaurant/base.html'  %}
{% load static %}
{% block content %}
 <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'img/hero-bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-8 d-flex flex-column align-items-center align-items-md-start">
            <h2 data-aos="fade-up" data-aos-delay="100">Добро пожаловать в гриль-бар<br><span>Черная жемчужина</span></h2>
            <p data-aos="fade-up" data-aos-delay="200">Еда - наше ремесло</p>
            <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
              <a href="#menu" class="cta-btn">Наше меню</a>
              <a href="#book-a-table" class="cta-btn">Забронировать стол</a>
            </div>
          </div>
          <div class="col-lg-4 d-flex align-items-center justify-content-center mt-5 mt-lg-0">
            <a href="https://youtu.be/t4gN-iqeY0E?list=PLOGfBZ-R3P8RWTn91wG56RJlr1SnRxQLY" class="glightbox pulsating-play-btn"></a>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->
{% endblock %}
